body {
  margin: 0;
  font-family: Arial;
  background: #ffffff;
  color: #000000;
  padding-top: 70px;
  font-family: "Segoe UI", Arial, sans-serif;

}

.title {
  text-align: center;
  padding: 20px;
}

.banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 1000;
}

.gallery img {
width: 100%;
margin-bottom: 10px;
box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.gallery img:hover {
  transform: scale(1.05);
}

/* Lightbox */
.lightbox {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.95);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.lightbox img {
  max-width: 90%;
  max-height: 80%;
  transition: transform 0.3s;
}


/* Bottom bar */
.bottom-bar {
  position: absolute;
  bottom: 20px;
  width: 90%;
  display: flex;
  justify-content: space-between;
}



/* Gallery Grid */
.gallery {
    column-gap: 15px;
}

@media (min-width: 1200px) {
    .gallery { column-count: 4; }
}

@media (max-width: 1199px) {
    .gallery { column-count: 3; }
}

@media (max-width: 992px) {
    .gallery { column-count: 2; }
}

@media (max-width: 768px) {
    .gallery { column-count: 1; }
}

@media (max-width: 480px) {
    .gallery { column-count: 0; }
}